venv/
carbonic_anhydrase_pipeline.egg-info
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints
logs/
Carbonic_ML_Pipeline.egg-info
catboost_info/
*.sh
Miniconda3-latest-Linux-x86_64.sh
Miniconda3-latest-Linux-x86_64.sh.1


