venv/
carbonic_anhydrase_pipeline.egg-info
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints
docking_results/
logs/
Carbonic_ML_Pipeline.egg-info
catboost_info/
notebook/.ipynb_checkpoints
*.sh
Miniconda3-latest-Linux-x86_64.sh
Miniconda3-latest-Linux-x86_64.sh.1

